.header{
    background-image: url(../assets/image-1.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: bottom;
    min-height: 100vh;
    color: #ffffff;
}

.headerFlex{
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 150px;
    align-items: center;
}

.nav--header{
    flex-basis: 550px;
}

.nav__ul--header{
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100%;
    align-items: center;
}

.header2{
    flex-direction: column;
    min-height: 500px;
    justify-content: center;
}

.heading1--header{
    margin-bottom: 10px;
}

.button--header{
    max-width: 150px;
    margin-top: 20px;
}

@media (max-width: 890px){
    .headerFlex{
        flex-direction: column;
        align-items: center;
    }

    .header2{
        text-align: center;
    }

    .heading2--header{
        justify-content: center;
    }

    .nav--header{
        width: 100%;
        flex-basis: 0;
    }

    .nav__ul--header{
        justify-content: center;
    }

    .nav__ul__li--header{
        padding: 10px;
    }

    .header2{
        align-items: center;
    }
}