.heading2--about{
    text-align: center;
}

.aboutContent{
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.aboutContent1{
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: space-around;
}

.aboutContent1__fig{
    flex-basis: 140px;
    margin: 30px;
    text-align: center;
}

.aboutContent1__fig__img{
    height: 120px;
}

.aboutContent1__fig__cap__heading{
    padding-top: 15px;
}

.aboutContent2{
    flex-basis: 50%;
    text-align: center;
    padding-top: 50px;
}

.aboutContent2__heading{
    padding: 30px 0;
}

.aboutContent2__text{
    padding-bottom: 40px;
}

.section--welcome{
    background: #e5bf4b;
}

.welcomeContent{
    text-align: center;
}

.section--services{
    text-align: center;
}

.servicesContent{
    flex-wrap: wrap;
}

.servicesContent__text,
.servicesContent__fig{
    flex-basis: 50%;
}

.servicesContent__text{
    flex-direction: column;
    justify-content: center;
    padding: 0 7%;
}

.servicesContent__text__heading{
    padding-bottom: 30px;
}

.servicesContent__fig__img{
    display: block;
}

