.heading2--about{
    text-align: center;
}

.aboutContent{
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.aboutContent1{
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: space-around;
}

.aboutContent1__fig{
    flex-basis: 140px;
    margin: 30px;
    text-align: center;
}

.aboutContent1__fig__img{
    height: 120px;
}

.aboutContent1__fig__cap__heading{
    padding-top: 15px;
}

.aboutContent2{
    flex-basis: 50%;
    text-align: center;
    padding-top: 50px;
}

.aboutContent2__heading{
    padding: 30px 0;
}

.aboutContent2__text{
    padding-bottom: 40px;
}

.section--welcome{
    background: #e5bf4b;
}

.welcomeContent{
    text-align: center;
}

.section--services{
    text-align: center;
    padding-bottom: 100px;
}

.servicesContent{
    flex-wrap: wrap;
}

.servicesContent__text,
.servicesContent__fig{
    flex-basis: 50%;
}

.servicesContent__text{
    flex-direction: column;
    justify-content: center;
    padding: 0 7%;
}

.servicesContent__text__heading{
    padding-bottom: 30px;
}

.servicesContent__fig__img{
    display: block;
}

.section--reviews{
    text-align: center;
    background: #2a2a2a;
    color: #d2cfcf;
    padding-bottom: 40px;
}

.reviewsContent__fig__cap{
    padding: 50px 0;
}

.text--reviews{
    padding: 0 20%;
}

.text--credit{
    padding: 15px 0;
}

.section--events{
    text-align: center;
}

.eventsContent__fig{
    position: relative;
}

.eventsContent__fig:hover .eventsContent__fig__cap{
    display: block;
}

.eventsContent__fig__img{
    display: block;
    height: 100%;
}

.eventsContent__fig__cap{
    position: absolute;
    display: none;
    background-color:  rgba(42, 42, 42, 0.7);
    padding: 2% 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.eventsContent__fig__cap__heading{
    padding: 5% 0;
    margin: 0 10%;
    color: #ffffff;
    border-bottom: 2px solid #d2cfcf;
}

.eventsContent__fig__cap__text{
    font-size: 1.8rem;
    padding: 5% 5%;
    color: #ffffff;
}

.section--form{
    text-align: center;
    padding-bottom: 100px;
}

.formContent__heading{
    padding-bottom: 30px;
}

.formContent__form__input__input{
    width: 50%;
    text-align: center;
    border: none;
    border-bottom: 1px solid #2a2a2a;
    margin: 30px 0;
}

.section--icons{
    background: #e5bf4b;
    padding: 100px 0;
}

.iconsContentComplete{
    justify-content: space-around;
}

.iconsContent{
    flex-basis: 20%;
    text-align: center;
}

.iconsContent__icons{
    font-size: 5rem;
}

.section--blog{
    text-align: center;
}

.blogContent{
    text-align: left;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.blogContent__fig{
    flex-basis: 30%;
}

.blogContent__fig__cap__heading{
    padding: 10px 0;
}

.blogContent__fig__cap__link{
    text-transform: uppercase;
    color:  #da331d;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}