article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.skiplink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black; }

.skiplink:focus {
  left: 0; }

img {
  max-width: 100%; }

* {
  padding: 0;
  margin: 0; }

figure {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  font-family: 'Lora', serif; }

body {
  font-size: 1.6rem; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.wrapper {
  max-width: 1080px;
  width: 95%;
  margin: 0 auto; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.heading1,
.heading2,
.heading3 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase; }

.heading1 {
  font-size: 5.8rem; }

.heading2 {
  font-size: 4rem;
  padding: 80px 0; }

.heading3 {
  font-size: 2.6rem; }

.heading4 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem; }

.nav__ul__li__link,
.button {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.nav__ul__li__link:hover {
  color: #da331d; }

.button {
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  letter-spacing: 5px; }

.button--red {
  background: #da331d;
  border: 1px solid #da331d;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.button--red:hover {
  background: #2a2a2a;
  color: #da331d;
  border: 1px solid #da331d; }

.button--black {
  background: #2a2a2a;
  border: 1px solid #2a2a2a;
  margin: 80px 0; }

.button--black:hover {
  background: #da331d;
  color: #2a2a2a; }

.text {
  font-size: 1.8rem;
  line-height: 30px; }

.text--large {
  font-size: 2.4rem;
  line-height: 40px; }

.header {
  background-image: url(../assets/image-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
  color: #ffffff; }

.headerFlex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 150px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav--header {
  -ms-flex-preferred-size: 550px;
  flex-basis: 550px; }

.nav__ul--header {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 500px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.heading1--header {
  margin-bottom: 10px; }

.button--header {
  max-width: 150px;
  margin-top: 20px; }

@media (max-width: 890px) {
  .headerFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header2 {
    text-align: center; }
  .heading2--header {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .nav--header {
    width: 100%;
    -ms-flex-preferred-size: 0;
    flex-basis: 0; }
  .nav__ul--header {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .nav__ul__li--header {
    padding: 10px; }
  .header2 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.heading2--about {
  text-align: center; }

.aboutContent {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 80px; }

.aboutContent1 {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.aboutContent1__fig {
  -ms-flex-preferred-size: 136px;
  flex-basis: 136px;
  margin: 30px;
  text-align: center; }

.aboutContent1__fig__img {
  height: 120px; }

.aboutContent1__fig__cap__heading {
  padding-top: 15px; }

.aboutContent2 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  text-align: center;
  padding-top: 50px; }

.aboutContent2__heading {
  padding: 30px 0; }

.aboutContent2__text {
  padding-bottom: 40px; }

.section--welcome {
  background: #e5bf4b; }

.welcomeContent {
  text-align: center; }

.section--services {
  text-align: center;
  padding-bottom: 100px; }

.servicesContent {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.servicesContent__text,
.servicesContent__fig {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.servicesContent__text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 7%; }

.servicesContent__text__heading {
  padding-bottom: 30px; }

.servicesContent__fig__img {
  display: block; }

.section--reviews {
  text-align: center;
  background: #2a2a2a;
  color: #d2cfcf;
  padding-bottom: 40px; }

.reviewsContent__fig {
  width: 100%; }

.reviewsContent__fig__cap {
  padding: 50px 0; }

.text--reviews {
  padding: 0 20%; }

.text--credit {
  padding: 15px 0; }

.section--events {
  text-align: center; }

.flickCell {
  width: 100%; }

.flickity-button-icon {
  fill: #ffffff; }

.flickity-button {
  background: none; }

.flickity-button:hover {
  background: #da331d; }

.flickity-prev-next-button.previous {
  left: 14%;
  top: 12%; }

.flickity-prev-next-button.next {
  right: 14%;
  top: 12%; }

.eventsContent__fig {
  position: relative;
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%; }

.eventsContent__fig:hover .eventsContent__fig__cap {
  display: block; }

.eventsContent__fig__img {
  display: block;
  height: 100%;
  width: 100%; }

.eventsContent__fig__cap {
  position: absolute;
  display: none;
  background-color: rgba(42, 42, 42, 0.7);
  padding: 2% 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.eventsContent__fig__cap__heading {
  padding: 5% 0;
  margin: 0 10%;
  color: #ffffff;
  border-bottom: 2px solid #d2cfcf; }

.eventsContent__fig__cap__text {
  font-size: 1.8rem;
  padding: 5% 5%;
  color: #ffffff; }

.section--form {
  text-align: center;
  padding-bottom: 100px; }

.formContent__heading {
  padding-bottom: 30px; }

.formContent__form__input__input {
  width: 50%;
  text-align: center;
  border: none;
  border-bottom: 1px solid #2a2a2a;
  margin: 30px 0; }

.formContent__form__input__input:focus {
  border-bottom: 2px solid #2a2a2a; }

.section--icons {
  background: #e5bf4b;
  padding: 100px 0; }

.iconsContentComplete {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.iconsContent {
  -ms-flex-preferred-size: 250px;
  flex-basis: 250px;
  text-align: center;
  margin-bottom: 50px; }

.iconsContent__icons {
  font-size: 5rem; }

.section--blog {
  text-align: center; }

.blogContent {
  text-align: left;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 100px; }

.blogContent__fig {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%; }

.blogContent__fig__cap__heading {
  padding: 10px 0; }

.blogContent__fig__cap__link {
  text-transform: uppercase;
  color: #da331d;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.blogContent__fig__cap__link:hover {
  color: #e5bf4b; }

@media (max-width: 1153px) {
  .eventsContent__fig__cap__text {
    display: none; } }

@media (max-width: 890px) {
  .aboutContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .eventsContent__fig__cap__heading {
    font-size: 2rem; }
  .servicesContent__text {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 30px; }
  .servicesContent__fig {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-bottom: 30px; }
  .servicesContent__fig__img {
    width: 100%; }
  .blogContent {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .blogContent__fig {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    margin-bottom: 30px; } }

@media (max-width: 690px) {
  .blogContent {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .blogContent__fig {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .blogContent__fig__img {
    width: 100%; } }

.footer {
  background-color: #2a2a2a;
  color: #ffffff;
  position: relative; }

.navIcons {
  position: absolute;
  right: 2%;
  top: 40%; }

.navIcons__ul__li {
  padding: 50%; }

.navIcons__ul__li__link {
  font-size: 2.5rem;
  padding: 50%;
  color: #848484;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.navIcons__ul__li__link:hover {
  color: #da331d; }

.section--footer1 {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 100px; }

.footer1Content {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%; }

.footer1Content__heading {
  padding-bottom: 40px; }

.footer1Content__p {
  padding: 5px 0; }

.footer1Content__p__link {
  color: #ffffff; }

.footer1Content__form {
  margin-top: 20px; }

.footer1Content__form__input {
  background: #2a2a2a;
  border-top: 1px solid #ffffff;
  border-right: none;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  padding: 5px 0 5px 15px;
  color: #ffffff;
  height: 34px; }

.footer1Content__form__input:focus {
  border-top: 2px solid #ffffff;
  border-right: none;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff; }

.footer1Content__form__input:focus + .footer1Content__form__button {
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: none; }

.footer1Content__form__button {
  background: #2a2a2a;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: none;
  height: 34px;
  padding-right: 5px;
  margin-left: -5px; }

.footer1Content__pics {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer1Content__pics__fig {
  -ms-flex-preferred-size: 21%;
  flex-basis: 21%;
  margin-bottom: 5%; }

.footer1Content__pics__fig__img {
  display: block;
  width: 100%; }

.footer2Content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer2Content__heading {
  padding-bottom: 20px; }

.nav--footer {
  width: 60%; }

.nav__ul--footer {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.footer2Content__text {
  padding-top: 100px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif; }

@media (max-width: 1170px) {
  .navIcons {
    top: 0;
    right: 5%; } }

@media (max-width: 890px) {
  .section--footer1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .footer1Content {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 50px; }
  .nav--footer {
    width: 100%; }
  .nav__ul--footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .nav__ul__li--footer {
    padding: 10px; } }
